 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #d25dfe, #701293);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 659px;
}

.u-section-1 .u-text-1 {
  font-family: "Atomic Age";
  margin: 276px auto 60px;
}